/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.headerWrapper{
		padding-top: 0;
		height: 195px;
	}

	.logoWrapper{
		width: 240px;
	}
	.logo img{
		width: 240px;
	}

	.button, .button:visited {
    background-color: rgba(177, 99, 163 , 0.7);
    color: white;
    width: 110px;
    padding: 2px;
    margin: 5px;
    display: inline-block;
    height: 32px;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
    line-height: 30px;
    transition: 0.2s all;
}

}	

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

