body{
	background-color: white;
	background-image: url(images/light_wool/light_wool.png);
	background-repeat: repeat;
	background-position: left top;
}

/*Хедер*/

.headerWrapper{
	min-height: 300px; 
    position: relative;
}

.header {
	position: absolute;
  	padding: 50px 0 150px 0;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	margin-bottom: 25px;
}

/*Контакты*/

.contactsNav{
	position:relative; 
	margin-top: 15px;
}

.contactsNav ul{
	list-style-type: none;
	padding-left:0;
}

.contactsNav span{
	display: block;
	margin-top: -10px; 
}

.contactsNav a {
 	color: #6c085c;
 	font-size: 15px;
 	text-decoration: none;
 	padding: 10px 5px 10px 40px;
 	display: block;
 	background-color: transparent;
}

.contactsNav .locLogo{
	background-image: url(images/location.png);
	background-size: 30px 30px;
	background-repeat: no-repeat;
 	background-position: 0 5px;


}

.contactsNav .phoneLogo{
	background-image: url(images/phone.png);
	background-size: 30px 30px;
	background-repeat: no-repeat;
    background-position: 0 5px;

}

/*Социальные сети*/
.socNav{
	position:relative; 	
	margin-top: 5px;
}

.socNav ul{
	list-style-type: none;
	padding-left: 125px;
}

.socNav li{
	padding-top: 10px;
}

.socNav a {
 	color: #6c085c;
 	font-size: 15px;
 	text-decoration: none;
 	padding: 10px 5px 10px 40px;
 	display: block;
 	background-color: transparent;
}

.socNav .instLogo{
	background-image: url(images/insta.png);
	background-size: 30px 30px;
	background-repeat: no-repeat;
 	background-position: 0 5px;
}

.socNav .vkLogo{
	background-image: url(images/vk.png);
	background-size: 30px 30px;
	background-repeat: no-repeat;
  	background-position: 0 5px;

}

/*Навигация*/

.navPanelWrapper{
	min-height: 155px;
	position: relative;
	background-color: /*#6c085c*/rgba(108, 8, 92, 0.75);
	margin-bottom: 100px;

}

.navPanel{
	position: absolute;
  	padding: 50px 0 50px 0;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
}

.navPanel .form-group {
	margin-right: 10px;
}

#navbar-main, #navbar-main .navbar-form .form-control{
	font-size: 18px;
}

#navbar-main li{
	padding: 0 10px;
}

#navbar-main li:first-child{
	padding: 0 10px 0 0;
}


/*Лого*/

.logoWrapper{
	position: relative;
	width: 270px;
	margin: auto;
}

.logo{
	position: absolute;
	margin-top: -40px;
}
.logo img{
	width: 270px;
}


/*Галерея*/

.imgWrapper{
	position: relative;
	margin: 10px	 auto;
	width: 200px;
	height: 200px;
}
.main .imgInfo {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #ddb5d3;	
	padding: 20px;
	font-family: Arial, sans-serif;
	font-size: 1.5em;
	font-weight: 400;
	font-weight: bold;
	text-align: center;
	color: #740167;
	opacity: 0;
	-webkit-transition: opacity .75s ease-out;
	-moz-transition: opacity .75s ease-out;
	-o-transition: opacity .75s ease-out;
	transition: opacity .75s ease-out;
}

.imgWrapper:hover .imgInfo {
	opacity: 0.8;	
}

/*Футер*/

.footerWrapper{
	min-height: 130px;
	background-color: rgba(108, 8, 92, 0.75);
    background-size: cover;  
    position: relative;
    margin-top: 75px;
}

.footer {
	position: absolute;
  	bottom: 0;
  	right: 0;
}
.footer .copyright{
	font-size: 20px;
	font-weight: bold;s
	color: white;	
	margin-bottom: 30px 
}



