body{
	background-color: #f5e7e4;
}

/*Хедер*/

.headerWrapper{
	padding-top: 16.11%; 
    background: url(images/header.png) no-repeat center top;
    background-size: cover;  
    position: relative;
    margin-bottom: 75px;
}

.header {
	position: absolute;
  	padding: 50px 0 150px 0;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	margin-bottom: 25px;
}

/*Навигация*/

.button, .button:visited{
	background-color: rgba(177, 99, 163 , 0.7);
	color: white;
	width: 85px;
	padding: 10px;
	display: inline-block;
	height: 35px;
	text-align: center;
	font-size: 15px;
	border-radius: 5px;
	line-height: 15px;
	transition: 0.2s all;

}

.button:hover{
	background-color: rgba(236, 161, 166, 0.7);
	color: white;
	text-decoration: none;
}

.button:active{
	background-color: rgba(221, 85, 92, 0.5);
	color: white;
	text-decoration: none;
}

.button:focus{
	background-color: rgba(119, 59, 107 , 0.8);
	color: white;
	text-decoration: none;
}

/*Лого*/

.logoWrapper{
	position: relative;
	width: 270px;
	margin: auto;
}

.logo{
	position: absolute;
	margin-top: -55px;
}
.logo img{
	width: 270px;
}

/*Контакты*/

.socNav{
	position:relative; 	
}

.socNav ul{
	list-style-type: none;
}

.socNav a {
 	color: #6c085c;
 	font-size: 15px;
 	text-decoration: none;
 	padding: 10px 5px 10px 40px;
 	display: block;
 	background-color: transparent;
}

.instLogo{
	background-image: url(images/insta.png);
	background-size: 30px 30px;
	background-repeat: no-repeat;
 	background-position: 0 5px;
}

.vkLogo{
	background-image: url(images/vk.png);
	background-size: 30px 30px;
	background-repeat: no-repeat;
  	background-position: 0 5px;

}

.locLogo{
	background-image: url(images/location.png);
	background-size: 30px 30px;
	background-repeat: no-repeat;
 	background-position: 0 5px;


}

.phoneLogo{
	background-image: url(images/phone.png);
	background-size: 30px 30px;
	background-repeat: no-repeat;
    background-position: 0 5px;

}

/*Галерея*/

.imgWrapper{
	position: relative;
	margin: 10px	 auto;
	width: 200px;
	height: 200px;
}
.main .imgInfo {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #ddb5d3;	
	padding: 20px;
	font-family: Arial, sans-serif;
	font-size: 1.5em;
	font-weight: 400;
	font-weight: bold;
	text-align: center;
	color: #740167;
	opacity: 0;
	-webkit-transition: opacity .75s ease-out;
	-moz-transition: opacity .75s ease-out;
	-o-transition: opacity .75s ease-out;
	transition: opacity .75s ease-out;
}

.imgWrapper:hover .imgInfo {
	opacity: 0.8;	
}

/*Футер*/

.footerWrapper{
	padding-top: 17.35%; 
    background: url(images/footer.png) no-repeat center bottom;
    background-size: cover;  
    position: relative;
    margin-top: 55px;
}

.footer {
	position: absolute;
  	bottom: 0;
  	right: 0;
}
.footer .copyright{
	font-size: 20px;
	font-weight: bold;
	color: purple;	
}



